*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-main;
  background-color: $color-grey-white;
  color: $color-grey-white;
}

.container {
  max-width: 1177px;
  width: 100%;
  margin: 0 auto;
}

.grow {
  transition:
    transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}

.grow:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.btn {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.btn:hover {
  background-color: #14737B;
}

.hover {
  transition: all 0.3s ease;
  position: relative;
}

.hover:hover {
  color: #ffffff;
  text-shadow:
    0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.6),
    0 0 15px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}