.catalog {
  padding: 80px;

  &__title {
    @include text-style($heading2-size, $font-weight-bold, $color-white);
    margin-bottom: 4.75rem; 
    letter-spacing: -0.8px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 72px 20px;
    justify-items: center;
    align-items: center;
  }

  &__image {
    max-width: 100%;
    width: 17.25rem; 
    max-height: 100%;
    height: 20.25rem; 
    display: block;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.9375rem; 
  }

  &__item {
    width: 17.25rem; 
    text-decoration: none;
    border: none;
    background-color: transparent;
    text-align: left;
  }

  &__name {
    @include text-style($text-main-size, $font-weight-regular, $color-white);
    letter-spacing: -0.3px;
  }

  &__price {
    @include text-style($text-small-size, $font-weight-light, $color-light-white);
    opacity: 0.5;
  }

  &__name,
  &__price {
    margin-top: 6px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    max-width: 100%;
  }

  &__button {
    @include text-style($text-small-size, $font-weight-regular, $color-white);
    background-color: $color-blue;
    padding: 19px 35px;
    border: none;
    width: 127px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: auto;
    display: block;
    margin-top: 80px;
    text-decoration: none;
    letter-spacing: 0.7px;
  }

  &__modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 904px;
    max-height: 694px;
    width: 100%;
    height: 100%;
    background-color: #0D0C0D;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(111, 111, 111, 0.3);
    z-index: 1000;
    animation: modal-fade-in 0.3s ease-out;
    overflow: hidden;

    &--close {
      position: absolute;
      top: 26px;
      right: 26px;
      width: 24px;
      height: 24px;
      background-size: contain;
      border: none;
      cursor: pointer;
      background-color: #0D0C0D;
    }

    &--content {
      display: flex;
      gap: 40px;
      padding: 40px;
      height: 100%;
      min-height: 614px;
      box-sizing: border-box;
    }

    &--left {
      flex: 1;
      max-width: 276px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &--right {
      flex: 1;
      max-width: 508px;
      height: 614px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &--label {
      margin-bottom: 12px;
      font-size: 14px;
      font-weight: $font-weight-regular;
      font-family: $font-family-main;
      line-height: 18px;
      color: $color-white;
    }

    &--input {
      width: 100%;
      height: 42px;
      margin-bottom: 24px;
      padding: 8px;
      border: 1px solid #C7C7C7;
      opacity: 0.5;
      border-radius: 8px;
      font-size: 16px;
      box-sizing: border-box;
      font-family: $font-family-main;
      font-weight: $font-weight-regular;
      padding: 12px 16px;
      background-color: #0D0C0D;
      color: $color-white;
      caret-color: $color-white;
    }

    &--textarea {
      width: 100%;
      height: 166px;
      margin-bottom: 40px;
      border: 1px solid #C7C7C7;
      opacity: 0.5;
      border-radius: 8px;
      font-size: 16px;
      box-sizing: border-box;
      resize: none;
      font-family: $font-family-main;
      font-weight: $font-weight-light;
      padding: 12px 16px;
      background-color: #0D0C0D;
      color: $color-white;
      caret-color: $color-white;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &--btn {
      width: 100%;
      height: 50px;
      background-color: $color-blue;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      margin-bottom: 12px;
      font-family: $font-family-main;
      padding-top: 18px;
      padding-bottom: 18px;
      text-align: center;
      text-decoration: none;
    }

    &--warning {
      font-size: 12px;
      color: #555555;
      opacity: 0.5;
    }
  }

  @keyframes modal-fade-in {
    from {
      opacity: 0;
      transform: translate(-50%, -45%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998;
  }
}