.new-earphones {
  background-color: $color-grey-white;
  padding: 78px 0;

  &__text {
    @include text-style($text-small-size, $font-weight-light, $color-light-white);
    letter-spacing: 0.72px;
    margin-bottom: 11px;
    opacity: 0.5;
  }

  &__title {
    @include text-style($heading2-size, $font-weight-bold, $color-white);
    letter-spacing: -0.8px;
    line-height: 44px;
    margin-bottom: 80px;
  }

  &__pictures {
    display: flex;
    justify-content: space-between;
  }
}