.sale {
  padding: 77px 0 127px 0;
  color: $color-white;

  &__title {
    @include text-style($heading2-size, $font-weight-bold);
  }

  &__block {
    display: flex;
    gap: 20px;
    margin-left: 97px;
    padding-top: 122px;
  }

  &__flexbox {
    display: flex;
  }

  &__images {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 100%;
    border-radius: 5px;
  }

  &__image-variant {
    margin: 0 10px 0 30px;
  }

  &__name {
    @include text-style($heading3-size, $font-weight-regular, $color-white);
    letter-spacing: -0.76px;
    margin-bottom: 10px;
    width: 435px;
  }

  &__flexprice {
    display: flex;
    align-items: end;
  }

  &__price {
    @include text-style($text-small-size, $font-weight-regular, $color-white);
    opacity: 0.5;
    text-decoration: line-through;

    &-sale {
      @include text-style($text-secondary-size, $font-weight-regular, $color-white);
      margin-right: 8px;
    }
  }

  &__tag {
    @include text-style($text-main-size, $font-weight-regular, $color-white);
    opacity: 0.5;
    letter-spacing: -0.28px;
    margin-bottom: 22px;
  }

  &__line {
    height: 1px;
    width: auto;
    background-color: $color-white;
    margin: 22px 0 10px 0;

    &-varient {
      height: 1px;
      width: auto;
      background-color: $color-white;
      margin-bottom: 10px;
      margin-top: 19px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 369px;

    &-part {
      margin-bottom: 20px;
    }

    &-text {
      @include text-style($text-main-size, $font-weight-light);
    }
  }

  &__box {
    @include flex-center;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  &__details-text {
    @include text-style($text-main-size, $font-weight-regular, $color-white);
    opacity: 0.5;
    letter-spacing: -0.12px;
    line-height: 18px;
  }

  &__box p {
    @include text-style($text-secondary-size, $font-weight-regular, $color-white);
    letter-spacing: -0.36px;
  }
}